@media only screen and (max-width: 767px) {
  .ui.form .fields {
    flex-wrap: nowrap;
  }
  #noWrap {
    flex-wrap: nowrap;
  }
}

.app__container {
  margin-top: 100px;
}

.default__message {
  margin-bottom: 30px !important;
}
